  .ampersand_color {
    
    font-size: 20px;
  }
  .ampersand_color_mini {
    margin-left: 27px;
  }
  .ampersand_color_red{
      color: #f44336;
  }
  .ampersand_color_blue{
     color:  #1e88e5;
  }

  .arrow_candidate {
    width: 100px;
  }

  .button {
    height: 35px;
    width: 35px; 
    border-radius: 50%; 
    justify-content:flex-end;
    display: flex;
    background-size: 100%;
  }

  .button-red{
      background-image:url("arrow-red.png");
  }
  .button-blue{
    background-image:url("arrow.png");
  }

  .button:hover {
    background-image:url("arrow2-no-circle-red.png");
  }

  .mini-button {
    
    height: 25px;
    width: 25px; 
    border-radius: 50%; 
    justify-content:flex-end;
    display: flex;
    background-size: 100%;
  }
  
  .mini-row-hidden {
    height: 49.5px;
    width: 100%;
    background-color:#FEFEFE;
    margin-top: 1px;
    display: flex;
    color: #000;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
  }

  .mini-row-container {
    flex-direction: column;
    width: 100%;
    display: flex;
  }
  .primary {
    background-color: #00A9E0;
  }
  .resultContainer{
    display: flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items: center;

  }
  .row {
    width: 100%;
    height: 66px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction:row;
    align-items: center ;
    justify-content: space-between;
  }
  
  .row-line {
    width: 100%;
    height: 5px;
    position: relative;
    display: inline-block;
    transition: color .5s;

  }
  .row_line_red{
      background-color: #C62828;
  }
  .row_line_blue{
      background-color: #1e88e5;
  }

  .row-line:before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #035ca0;
    z-index: -1;
    transform:scaleX(0);
    transition:  transform .5s;
  }


  .row:hover + .row-line:before {
    transform: scaleX(1);
  }
 
  .row:hover + .mini-row-hidden{
    display: flex;
  }
 
  .row-bottom-display-container {
    height: 4px;
    display: flex;
    flex-direction:row;
  }

  .row-bottom-padding {
    height: 1px;
    width: 100%; 
    display: flex;
  }

  .row:hover {
    cursor: pointer;
    transition-duration: 5s;
  }

  .row:hover > .button {
    background-image:url("arrow2-no-circle-red.png");
    background-color: #FFF;
   transition-duration: 1s;
  }

  .results_body{
    display: flex;
    flex-direction: column;

  }

  .tagText{
    font-size: 20px;
  }


 /* #empty {
    display: flex;
    font-size: 1em;
    color: #e4002b;
    margin: 2px 0px 0px 0px;
    padding: 0px 66px 0px 66px;
    background-color: #fff;
    cursor: pointer;
  }
  #empty:hover {
    color: #00A9E0;
  }*/


  .tag{
    width:  auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .sub-tag {
    width:  auto;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  
  .top-mini-row {
    margin-top: 0px;
  }

  
  #EducationSubContainer{
    max-height: 0;
    transition: max-height 20s ease-out;
  }

  #EducationResults:hover  #EducationSubContainer{
    ransition: max-height 5s ease-in;
    max-height: 3000px;
  }


  #EnviromentSubContainer{
    max-height: 0;
    transition: max-height 20s ease-out;
  }

  #EnviromentResults:hover  #EnviromentSubContainer{
    ransition: max-height 5s ease-in;
    max-height: 3000px;
  }

  #EqualitySubContainer{
    max-height: 0;
    transition: max-height 20s ease-out;
  }

  #EqualityResults:hover  #EqualitySubContainer{
    ransition: max-height 5s ease-in;
    max-height: 3000px;
  }

  #HealthSubContainer{
    max-height: 0;
    transition: max-height 20s ease-out;
  }

  #HealthResults:hover  #HealthSubContainer{
    ransition: max-height 5s ease-in;
    max-height: 3000px;
  }

  #JobsSubContainer{
    max-height: 0;
    transition: max-height 20s ease-out;
  }

  #JobsResults:hover  #JobsSubContainer{
    ransition: max-height 5s ease-in;
    max-height: 3000px;
  }

  #SecuritySubContainer{
    max-height: 0;
    transition: max-height 20s ease-out;
  }

  #SecurityResults:hover  #SecuritySubContainer{
    ransition: max-height 5s ease-in;
    max-height: 3000px;
  }

  #EconomySubContainer{
    max-height: 0;
    transition: max-height 20s ease-out;
  }

  #EconomyResults:hover  #EconomySubContainer{
    ransition: max-height 5s ease-in;
    max-height: 3000px;
  }

 


























