.CandidateContributions{
	.chart_container {
		height: 210px;
		display: flex;
		background-color: #0000ff;
 	 }
 	 .plz_work{
 	 	width: 100%;
 	 	display: flex;
 	 	flex-direction: row;
 	 	align-items: center;
 	 	flex-grow: 1;
 	 	justify-content: center;
 	 	flex-wrap: nowrap;
 	 }
 	.data_box{
 		width: auto;
 	 	height: 55px;
 	 	display: flex;
 	 	flex-grow: 1;
 	 	flex-basis: 0;
 	 	align-content: center;
 	 	justify-content: center;
		border-top: 2px solid #ff0000;
		border-bottom: 3px solid #ff0000;
 	 }
 	 .left{
 	 	border-left: 2px solid #ff0000;
 	 }
 	 .right{
 	 	border-right: 2px solid #ff0000;
 	 }
 	 
 	/* .data_box_info{
 	 	flex-wrap: nowrap;
 	 }*/

}