.CandidateListPage{
	width: 100%;
	height: 100%;
	background-color: #eceef2;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;

	.party_selection{
		margin-top: 5px;
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.party_candidates{
		margin-top: 10px;
		width: 96%;
		height: 200px;
		background-color: red;
	}
	
}