.CandidateContributions{
	.chart_container {
		height: 175px;
		background-color: #FFFFFF;
 	 }
 	.data_box{
 	 	height: 55px;
 	 	display: flex;
 	 	background-color: #FFFFFF;
 	 	flex-grow: 1;
 	 	flex-basis: 0;
 	 	align-items: center;
 	 	justify-content: center;
		border-top: 2px solid @lightGray;
		border-bottom: 3px solid @lightGray;
		width: 100%;
 	 }
 	 .data_box_value{
 	 	
 	 }
 	 .data_box_label{

 	 }

 	 .left{
 	 	border-left: 2px solid @lightGray;
 	 }
 	 .right{
 	 	border-right: 2px solid @lightGray;
 	 }

}
