.CandidateHeader{
	.photo_container {
		height: 150px;
		display: flex;
		border-top: 2px solid @lightGray;
		border-bottom: 2px solid @gray;
		background-size: cover;
 	 }
	.latest_poll_container {
		height: 32px;
		background-color: #FFFFFF;
		margin: auto auto 0 6%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 15px;
		border-top: 2px solid @lightGray;
		border-left: 2px solid @lightGray;
		border-right: 2px solid @lightGray;
	}
	.latest_poll_text{
		color: @gray;
		font-size: 1.1em;
	}
}
