.ElectionGenInfoPanel{
    .label{
    	margin: auto auto auto 0;
    	font-size: 1.3em;
    }
    .date_value{
    	margin: auto 20px auto auto;
    	font-size: 1.1em;
    }
    .padding{
    	padding-top: 5px;
    	padding-bottom: 5px;
    }
}