.ElectionListTile{
	height: 120px;
	width: 98%;
	background-color: #FFFFFF;
    margin-bottom: 8px;
    border-radius: 6px;
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 0.2s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.28);
	
	.election_title{
		font-size: 1.5em;
		font-style: bold;
		margin: 10px auto 2px 5px;
		color: black;
	}

	.candidate_container{
		flex: 5 1 0;
	}

	.state_container{
		flex: 4 1 0;
		background: no-repeat;
		background-position: center;
	}
	.democrat{
		font-style: bold;
		font-size: 1.2em;
		margin: 5px auto 0 5px;
		color: blue;
	}

	.republican{
		font-style: bold;
		font-size: 1.2em;
		margin: 4px auto auto 5px;
		color: red;
	}
}