@import 'flex';


body #container{
  width: 325px;
  height: 1000px;
  background-color: #eee;
}

@import 'RootHeader';
@import 'CandidateView';
@import 'SegmentHeader';
@import 'CandidateBillVotingHistory';
@import 'BillVotingHistoryRow';
@import 'App';
@import 'CandidateListPage';
